@model IEnumerable<CSKH_Sungroup_BT3.Models.Customer>

@{
    ViewBag.Title = "Khách hàng";
}
<div ng-app="CustomerApp">
    <div ng-controller="CustomerCtrl">
        <div class="content">
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Nhập từ khóa cần tìm kiếm..." ng-model="search" />
                </div>
                <div class="col-sm-8">
                    <div class="pull-right">
                        <button type="button"   ng-click="clearData(); Status=true" class="btn btn-warning" data-target="#addNewCustomer" data-toggle="modal"><i class="fa fa-plus"></i>Thêm mới khách hàng</button>
                        <button type="button" class="btn btn-primary" style="margin-left:15px" data-target="#sendMailToAllUsers" data-toggle="modal"><i class="fa fa-send"></i>Gửi mail cho khách hàng</button>
                    </div>
                </div>
                <div class="modal fade" id="addNewCustomer" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">×</button>
                                    <h4>Thêm mới khách hàng</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Họ đệm</label>
                                                <input type="text" class="form-control"  ng-model="FirstName" required />
                                            </div>
                                            <div class="form-group">
                                                <label>CMND/Hộ chiếu</label>
                                                <input type="text" class="form-control"  ng-model="Passport" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input  type="email" class="form-control" ng-model="Email" required />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Tên</label>
                                                <input type="text" class="form-control" ng-model="LastName" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Số điện thoại</label>
                                                <input type="text" class="form-control" ng-model="PhoneNumber" />
                                            </div>
                                            <div class="form-group">
                                                <label>Địa chỉ</label>
                                                <input type="text" class="form-control" ng-model="Address" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="pull-right">
                                        <button data-dismiss="modal" class="btn btn-secondary">Hủy</button>
                                            <button ng-if="Status" type="submit" class="btn btn-primary" ng-click="addCustomer()">Tạo mới</button>
                                            <button ng-if="Status==false" type="submit" class="btn btn-primary" ng-click="updateCustomer()">Lưu</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:20px">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>
                            Họ và tên
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Passport)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                    </tr>
                    <tr ng-repeat="cus in customers">
                        <td>
                            {{cus.Id}}
                        </td>
                        <td>{{cus.FirstName}} {{cus.LastName}}</td>
                        <td ng-show="a">
                            <input type="text" ng-model="cus.Passport" />
                        </td>
                        <td ng-hide="a">
                            {{cus.Passport}}
                        </td>
                        <td ng-show="a">
                            <input type="text" ng-model="cus.Address" />
                        </td>
                        <td ng-hide="a">
                            {{cus.Address}}
                        </td>
                        <td ng-show="a">
                            <input type="text" ng-model="cus.Email" />
                        </td>
                        <td ng-hide="a">
                            {{cus.Email}}
                        </td>
                        <td ng-show="a">
                            <input type="text" ng-model="cus.PhoneNumber" />
                        </td>
                        <td ng-hide="a">
                            {{cus.PhoneNumber}}
                        </td>
                        <td>
                            <button class="fa fa-edit" ng-hide="a" ng-click="editCustomer(cus)" data-target="#addNewCustomer" data-toggle="modal" ></button>

                            <button class="fa fa-check-circle" ng-show="a" ng-click="updateCustomer(cus)"></button>
                        </td>

                        <td>
                            <button class="fa fa-times" ng-show="a" ng-click="a=!a"></button>
                            <button class="glyphicon glyphicon-trash" ng-hide="a" ng-click="deleteCustomer(cus, $index)"></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

