@model IEnumerable<CSKH_Sungroup_BT3.Models.Customer>

@{
    ViewBag.Title = "Khách hàng";
}
<div ng-app="CustomerApp">
    <div ng-controller="CustomerCtrl">
        <div class="content">
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Nhập từ khóa cần tìm kiếm..." ng-model="search" />
                </div>
                <div class="col-sm-8">
                    <div class="pull-right">
                        <button type="button" ng-click="clearData(); Status=true" class="btn btn-warning" data-target="#addNewCustomer" data-toggle="modal"><i class="fa fa-plus"></i>Thêm mới khách hàng</button>
                        <button type="button" class="btn btn-primary" style="margin-left:15px" data-target="#sendMailToAllUsers" data-toggle="modal"><i class="fa fa-send"></i>Gửi mail cho khách hàng</button>
                    </div>
                </div>
                <div class="modal fade" id="addNewCustomer" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">×</button>
                                    <h4 ng-if="Status">Thêm mới khách hàng</h4>
                                    <h4 ng-if="Status==false">Thông tin khách hàng {{FirstName}} {{LastName}}</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="alert-info"></div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Họ đệm</label>
                                                <input type="text" class="form-control"  ng-model="FirstName" required />
                                            </div>
                                            <div class="form-group">
                                                <label>CMND/Hộ chiếu</label>
                                                <input type="text" class="form-control"  ng-model="Passport" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input  type="email" class="form-control" ng-model="Email" required />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Tên</label>
                                                <input type="text" class="form-control" ng-model="LastName" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Số điện thoại</label>
                                                <input type="text" class="form-control" ng-model="PhoneNumber" />
                                            </div>
                                            <div class="form-group">
                                                <label>Địa chỉ</label>
                                                <input type="text" class="form-control" ng-model="Address" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="pull-right">
                                            <button data-dismiss="modal" class="btn btn-secondary">Hủy</button>
                                            <button ng-if="Status" type="submit" class="btn btn-primary" ng-click="addCustomer()">Tạo mới</button>
                                            <button ng-if="Status==false" type="submit" class="btn btn-primary" ng-click="updateCustomer()">Lưu</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" style="margin-top:20px">
                <table class="table table-striped">
                    <tr>
                        <th>
                            Họ và tên
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Passport)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="cus in customers.slice(currentPage*pageSize) | limitTo: pageSize">
                        <td>{{cus.FirstName}} {{cus.LastName}}</td>
                        <td>
                            {{cus.Passport}}
                        </td>
                        <td>
                            {{cus.Address}}
                        </td>
                        <td>
                            {{cus.Email}}
                        </td>
                        <td>
                            {{cus.PhoneNumber}}
                        </td>
                        <td>
                            <a href="#editCustomer" class="btn btn-primary" ng-click="editCustomer(cus)" data-target="#addNewCustomer" data-toggle="modal" ><i class="fa fa-edit"></i></a>
                            <a href="#deleteCustomer" class="btn btn-danger" ng-click="deleteCustomer(cus, $index)"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
                <ul class="pager">
                    <li ng-class="{disabled:currentPage == 0}">
                        <a href="" ng-click="currentPage = currentPage -1">« Prev</a>
                    </li>
                    <li ng-repeat="i in numberOfPages" ng-class="{active: i == currentPage + 1}" >
                        <a href="" ng-click="setPage()">{{i}}</a>
                    </li>
                    <li ng-class="{disabled:currentPage >= totalPages - 1}">
                        <a href="" ng-click="currentPage = currentPage + 1">Next »</a>
                    </li>
                </ul>



        </div>
    </div>
</div>

