@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <canvas id="bar-chart"></canvas>
    </div>
    <div class="col-lg-offset-2 col-lg-8">
        <canvas id="horizontal-chart"></canvas>
    </div>
    <div class="col-lg-offset-2 col-lg-8">
        <canvas id="line-chart"></canvas>
    </div>
    <div class="col-lg-offset-2 col-lg-8">
        <canvas id="pie-chart"></canvas>
    </div>
    
</div>
@Scripts.Render("~/bundles/chartjs.min.js")
@Scripts.Render("~/bundles/script.js")